<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/cloud/gcp/autoconfigure/logging/logback-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <root level="INFO">
        <springProfile name="dev_gcp">
            <appender-ref ref="STACKDRIVER" />
        </springProfile>
        <springProfile name="dev_local">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
    </root>
</configuration>